.title{
	text-align: center;
}

tr {
	text-align: center;
}

td {
	text-align: center;
	border: 1px solid black;
}

table {
	margin: 0 auto;
}

.trcima {
	background-color: #BBBBBB;
}
h1 {
	text-align: center;
}

.divcenter {
	text-align: center;
}